<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gregbclement.spellingtime">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.NewStudent" android:screenOrientation="portrait" />
        <activity android:name=".view.activity.ViewStudent" android:screenOrientation="portrait" />
        <activity android:name=".view.activity.ViewSpellingList" android:screenOrientation="portrait" />
        <activity android:name=".view.activity.Quiz" android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.gregbclement.spellingtime.view.activity.MainActivity" />

        <activity android:name=".view.activity.NewList" android:screenOrientation="portrait"></activity>
    </application>

</manifest>